/*
*  ------------
*  Retina mixin
*  ------------
*
*  @author : Fábio Azevedo < me@icantcontrolmyego.net >
*  @date   : September 2014
*
*/

@mixin get-retina-asset($name, $ext: 'png')
{
  $image: $name + '.' + $ext;
  $url: image-url($image);
  background-image: $url;
  width: image-width($image);
  height: image-height($image);
  background-repeat: no-repeat;
  display: inline-block;
  @include for-retina
  {
    $image2x: $name + '@2x.' + $ext;
    $url2x: image-url($image2x);
    background-image: $url2x !important;
    background-size: contain;
  }
}

@mixin get-asset($file, $ext: 'png')
{
  $image: $file + '.' + $ext;
  $url: image-url($image);
  background-image: $url;
  width: image-width($image);
  height: image-height($image);
  background-repeat: no-repeat;
}

@mixin for-retina
{
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  {
    @content
  }
}

@function get-asset-width($file, $ext: 'png')
{
  $image: $file + '.' + $ext;
  @return image-width($image);
}

@function get-asset-height($file, $ext: 'png')
{
  $image: $file + '.' + $ext;
  @return image-height($image);
}
