@import './framework/utils/reset';
@import './framework/utils/mixins';

@import './framework/core';

@import './framework/spritesheet/svg/sprite';
@import './framework/spritesheet/layout/sprite';

@import './framework/responsive/breakpoints';
@import './framework/responsive/controller';
@import './framework/responsive/retina';

@import './framework/components/version/version';
@import './framework/components/unsupported/unsupported';

@import './extra/fonts';

body {
  font-family: $fontface-text;
  font-size: 14px;
  color: #FFF;
  background-color: #000;
  transition: background-color 0.5s;
}

@import './app';
