@import './components/canvas';
@import './components/info';

body {
  font-family: $fontface-text;
  font-size: 14px;
  color: #FFF;
  background-color: #000;
  transition: background-color 0.5s;

  @include respond-to(small) {
    font-size: 10px;
  }
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
